 .explana {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    .itemBar {
        display: flex;
        align-items: center;
        .item {
            position: relative;
            width: 412px;
            background: #FFFFFF;
            border-radius: 24px;
            & img.direction {
                position: absolute;
                width: 152px;
                height: 70px;
                top: 50%;
                transform: translateY(-50%);
            }
            & img.jump {
                position: absolute;
                width: 66px;
                height: 66px;
                right: -3px;
                bottom: -12px;
            }
            .title {
                font-family: 'Bold';
                width: 294px;
                font-size: 20px;
                font-weight: bold;
                color: #000000;
                line-height: 24px;
                margin-bottom: 16px;
                a {
                    color: #000;
                }
            }
            .content {
                & p {
                    width: 315px;
                    font-family: 'Regular';
                }
                font-size: 12px;
                color: #000000;
                line-height: 20px;
            }
        }
        .circle {
            width: 80px;
            height: 80px;
            border: 15px solid #FFFFFF;
            border-radius: 50%;
            line-height: 50px;
            text-align: center;
            opacity: 0.95;
            font-size: 20px;
            font-weight: 800;
        }
    }
    .left {  
        margin-bottom: 49px;
        .item {
            padding: 20px 30px;
            & img.direction {
                right: -115px;
            }
        }
        .circle {
            margin-left: 148px;
        }
    }
    .right {
        justify-content: flex-end;
        margin-bottom: 35px;
        .item {
            padding: 20px 30px 20px 65px;
            & img.direction {
                left: -115px;
            }
        }
        .circle {
            margin-right: 148px;
        }
    }
    .gradient {
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        top: -86px;
        height: 890px;
        width: 5px;
    }
}

.BSC {
    .itemBar {
        .item {
            box-shadow: 0px 10px 30px 0px rgba(255, 205, 94, 0.21);
        }
        .circle {
            color: $bsc_color;
            background: #FFF4BF;
            box-shadow: 0px 10px 30px 0px rgba(255, 205, 94, 0.21);
        }
    }
    .gradient {
        background: -webkit-linear-gradient(top,rgba(255, 226, 122, 0),#EFC501,rgba(255, 226, 122, 0));
        background: linear-gradient(to bottom, rgba(255, 226, 122, 0),#EFC501,rgba(255, 226, 122, 0));
    }

}

.HECO {
    .itemBar {
        .item {
            box-shadow: 0px 0px 30px 0px rgba(0, 181, 107, 0.15);
        }
        .circle {
            color: $heco_color;
            background: #E1F6FF;
            box-shadow: 0px 10px 20px 0px rgba(0, 181, 107, 0.2);
        }
    }
    .gradient {
        background: -webkit-linear-gradient(top,rgba(0, 255, 126, 0),#3794F7,rgba(0, 255, 126, 0));
        background: linear-gradient(to bottom, rgba(0, 255, 126, 0), #3794F7,rgba(0, 255, 126, 0));
    }
}

