@font-face {
    font-family: 'SemiBold';
    src: url('../font/Montserrat-SemiBold-9.otf');
}

@font-face {
    font-family: 'Regular';
    src: url('../font/Montserrat-Regular-8.otf');
}

@font-face {
    font-family: 'Black';
    src: url('../font/Montserrat-Black-2.otf');
}

@font-face {
    font-family: 'Light';
    src: url('../font/Montserrat-Light-6.otf');
}

@font-face {
    font-family: 'Medium';
    src: url('../font/Montserrat-Medium-7.otf');
}

@font-face {
    font-family: 'Bold';
    src: url('../font/Montserrat-Bold-3.otf');
}
